In [ ]:
!pip install ipython-sql

In [ ]:
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text

In [ ]:
%load_ext sql

In [ ]:
conn = psycopg2.connect(
    dbname= #Your DB name,
    user= #Your DB user,
    password= #Your DB password,
    host= #Your DB nahostme,
    port= #Your DB port
)

cur = conn.cursor()
cur.execute("SELECT version();")
print(cur.fetchone())
cur.close()
conn.close()

In [ ]:
engine = create_engine("This are you can join this db connect engine URL")

with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    print(result.fetchone())

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

engine = create_engine("This are you can join this db connect engine URL")

df.to_sql("SPACEXTBL", engine, if_exists="replace", index=False, method="multi")

In [ ]:
%sql create table "SPACEXTABLE" as select * from "SPACEXTBL" where "Date" is not null

In [ ]:
%sql SELECT * FROM "SPACEXTABLE" LIMIT 5;

In [ ]:
%sql SELECT DISTINCT "Launch_Site" FROM "SPACEXTABLE"

In [ ]:
%sql SELECT * FROM "SPACEXTABLE" WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

In [ ]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") as total_payload_mass FROM "SPACEXTABLE" WHERE "Customer" LIKE '%NASA (CRS)%';

In [ ]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") as avg_payload_mass FROM "SPACEXTABLE" WHERE "Booster_Version" = 'F9 v1.1';

In [ ]:
%sql SELECT MIN("Date") as first_success_launch_date FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE 'Success (ground pad)';

In [ ]:
%sql SELECT "Booster_Version" FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE 'Success (drone ship)' AND "PAYLOAD_MASS__KG_" > 4000  AND "PAYLOAD_MASS__KG_" < 6000;

In [ ]:
%sql SELECT "Mission_Outcome", COUNT("Mission_Outcome") FROM "SPACEXTABLE" WHERE "Mission_Outcome" LIKE 'Success%' OR "Mission_Outcome" LIKE 'Failure%' GROUP BY "Mission_Outcome";

In [ ]:
%sql SELECT "Booster_Version" FROM "SPACEXTABLE" WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM "SPACEXTABLE");

In [ ]:
%sql SELECT EXTRACT(MONTH FROM CAST("Date" AS DATE)) AS "Month_Name", "Landing_Outcome", "Booster_Version", "Launch_Site" FROM  "SPACEXTABLE" WHERE EXTRACT(YEAR FROM CAST("Date" AS DATE)) = 2015 AND "Landing_Outcome" LIKE 'Failure (drone ship)%' ORDER BY "Month_Name";

In [ ]:
%sql SELECT "Landing_Outcome", COUNT("Landing_Outcome") AS count_outcome FROM "SPACEXTABLE" WHERE CAST("Date" AS DATE) BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY count_outcome DESC;