In [98]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/homebrew/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/homebrew/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (5.8.0)
Requirement already satisfied: pexpect>4.3 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: wcwidth in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /Users/furkandurmus/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [99]:
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text

In [100]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [101]:

conn = psycopg2.connect(
    dbname="furkandurmus",
    user="furkandurmus",
    password="black",
    host="localhost",
    port="5432"
)

# Bağlantıyı kullanarak sorgu yapma
cur = conn.cursor()
cur.execute("SELECT version();")
print(cur.fetchone())
cur.close()
conn.close()

('PostgreSQL 14.9 (Homebrew) on aarch64-apple-darwin22.4.0, compiled by Apple clang version 14.0.3 (clang-1403.0.22.14.1), 64-bit',)

In [102]:
engine = create_engine("postgresql://furkandurmus:black@localhost:5432/furkandurmus")

with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    print(result.fetchone())

('PostgreSQL 14.9 (Homebrew) on aarch64-apple-darwin22.4.0, compiled by Apple clang version 14.0.3 (clang-1403.0.22.14.1), 64-bit',)

In [103]:
import pandas as pd
from sqlalchemy import create_engine

# Veriyi pandas DataFrame"e yükleme
df = pd.read_csv("/Users/furkandurmus/Desktop/IBM-Data-Sci-Project/Spacex.csv")
# SQLAlchemy motorunu oluşturma
engine = create_engine("postgresql://furkandurmus:black@localhost:5432/furkandurmus")

# Veriyi PostgreSQL veritabanına kaydetme
df.to_sql("SPACEXTBL", engine, if_exists="replace", index=False, method="multi")

101

In [104]:
%sql postgresql://furkandurmus:black@localhost:5432/furkandurmus

In [105]:
%sql create table "SPACEXTABLE" as select * from "SPACEXTBL" where "Date" is not null

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
(psycopg2.errors.DuplicateTable) relation "SPACEXTABLE" already exists

[SQL: create table "SPACEXTABLE" as select * from "SPACEXTBL" where "Date" is not null]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [106]:
%sql SELECT * FROM "SPACEXTABLE" LIMIT 5;

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
5 rows affected.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [107]:
%sql SELECT DISTINCT "Launch_Site" FROM "SPACEXTABLE"

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]

In [108]:
%sql SELECT * FROM "SPACEXTABLE" WHERE "Launch_Site" LIKE "CCA%" LIMIT 5;

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
(psycopg2.errors.UndefinedColumn) column "CCA%" does not exist
LINE 1: ...ECT * FROM "SPACEXTABLE" WHERE "Launch_Site" LIKE "CCA%" LIM...
                                                             ^

[SQL: SELECT * FROM "SPACEXTABLE" WHERE "Launch_Site" LIKE "CCA%%" LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [109]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") as total_payload_mass FROM "SPACEXTABLE" WHERE "Customer" LIKE "%NASA (CRS)%";

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
(psycopg2.errors.UndefinedColumn) column "%NASA (CRS)%" does not exist
LINE 1: ...oad_mass FROM "SPACEXTABLE" WHERE "Customer" LIKE "%NASA (CR...
                                                             ^

[SQL: SELECT SUM("PAYLOAD_MASS__KG_") as total_payload_mass FROM "SPACEXTABLE" WHERE "Customer" LIKE "%%NASA (CRS)%%" ;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [110]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") as avg_payload_mass FROM "SPACEXTABLE" WHERE "Booster_Version" = "F9 v1.1";

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
(psycopg2.errors.UndefinedColumn) column "F9 v1.1" does not exist
LINE 1: ...mass FROM "SPACEXTABLE" WHERE "Booster_Version" = "F9 v1.1" ...
                                                             ^

[SQL: SELECT AVG("PAYLOAD_MASS__KG_") as avg_payload_mass FROM "SPACEXTABLE" WHERE "Booster_Version" = "F9 v1.1" ;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [111]:
%sql SELECT MIN("Date") as first_success_launch_date FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE "Success (ground pad)";

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
(psycopg2.errors.UndefinedColumn) column "Success (ground pad)" does not exist
LINE 1: ...e FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE "Success (...
                                                             ^

[SQL: SELECT MIN("Date") as first_success_launch_date FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE "Success (ground pad)" ;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [112]:
%sql SELECT "Booster_Version" FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE "Success (drone ship)" AND "PAYLOAD_MASS__KG_" > 4000  AND "PAYLOAD_MASS__KG_" < 6000;

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
(psycopg2.errors.UndefinedColumn) column "Success (drone ship)" does not exist
LINE 1: ..." FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE "Success (...
                                                             ^

[SQL: SELECT "Booster_Version" FROM "SPACEXTABLE" WHERE "Landing_Outcome" LIKE "Success (drone ship)" AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [115]:
%sql SELECT "Mission_Outcome", COUNT("Mission_Outcome") FROM "SPACEXTABLE" WHERE "Mission_Outcome" LIKE 'Success%' OR "Mission_Outcome" LIKE 'Failure%' GROUP BY "Mission_Outcome";

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
4 rows affected.

[('Success (payload status unclear)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Failure (in flight)', 1)]

In [116]:
%sql SELECT "Booster_Version" FROM "SPACEXTABLE" WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM "SPACEXTABLE");

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [124]:
%sql SELECT EXTRACT(MONTH FROM CAST("Date" AS DATE)) AS "Month_Name", "Landing_Outcome", "Booster_Version", "Launch_Site" FROM  "SPACEXTABLE" WHERE  EXTRACT(YEAR FROM CAST("Date" AS DATE)) = 2015 AND "Landing_Outcome" LIKE 'Failure (drone ship)%' ORDER BY "Month_Name";

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
2 rows affected.

[(Decimal('4'), 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 (Decimal('10'), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')]

In [126]:
%sql SELECT "Landing_Outcome", COUNT("Landing_Outcome") AS count_outcome FROM "SPACEXTABLE" WHERE CAST("Date" AS DATE) BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY count_outcome DESC;

 * postgresql://furkandurmus:***@localhost:5432/furkandurmus
8 rows affected.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 5),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1),
 ('Failure (parachute)', 1)]